<div class="form-group">
  <div class="col-sm-10">
    <div class="form-group">
      <input type="text" name="name" class="form-control" [(ngModel)]="name" #Name>
    </div>
    
    <div class="form-group">
        <input type="text" name="lastName" class="form-control" [(ngModel)]="lastName" #LastName>
      </div>
      <div class="form-group">
          <input type="text" name="class" class="form-control" [(ngModel)]="class" #Class>
        </div>
    <button type="button" class="btn btn-default" (click)="submit(name,lastName)">Submit</button>
    <button type="button" class="btn btn-default" (click)="submit1(class)">Submit1</button>
    
    <hr/>
    <div *ngIf="arrayList.length > 0">

      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>LastName</th>
              <th>Class</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of arrayList">
              <td>{{item.name}}</td>
              <td>{{item.lastName}}</td>
              <td>{{item.class}}</td>
            </tr>
            
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>
<hr/>

<select [(ngModel)]="mySimpleModel">
  <option *ngFor="let i of simpleItems" [value]="i">{{i | json}}</option>
</select>